<!DOCTYPE html>
<html>
    
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="OCamLAB CTF">
	<meta name="author" content="ptr-yudai">
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/simple-sidebar.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<title>Register - OCamLab CTF</title>
    </head>

    <body>
	<div id="wrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
		<ul class="sidebar-nav">
                    <li class="sidebar-brand">
			<a href="/">OCamLAB CTF 8th</a>
                    </li>
                    <li>
			<a href="/token">Team Token</a>
                    </li>
                    <li>
			<a href="/score">Scoreboard</a>
                    </li>
                    <li>
			<a href="/challenges">Challenges</a>
                    </li>
                    <li>
			<a href="/login">Login</a>
                    </li>
                    <li>
			<a href="/register">Register</a>
                    </li>
		</ul>
            </div>
	    
            <!-- Page Content -->
            <div id="page-content-wrapper">
		<div class="container-fluid">
		    <!-- Register New User -->
		    <form class="form-horizontal" role="form" method="POST" action="/register">
			<div class="row">
			    <div class="col-md-3"></div>
			    <div class="col-md-6">
				<h2><i class="fa fa-users" aria-hidden="true"></i> Register New User</h2>
				<hr>
			    </div>
			</div>
			<!-- Username -->
			<div class="row">
			    <div class="col-md-3 field-label-responsive">
				<label for="username">Username</label>
			    </div>
			    <div class="col-md-6">
				<div class="form-group">
				    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
					<input type="text" name="username" class="form-control" id="username"
					       placeholder="Username" required autofocus>
				    </div>
				</div>
			    </div>
			</div>
			<!-- Invitation Code -->
			<div class="row">
			    <div class="col-md-3 field-label-responsive">
				<label for="teamcode">Invitation Code</label>
			    </div>
			    <div class="col-md-6">
				<div class="form-group">
				    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-id-card"></i></div>
					<input type="text" name="teamcode" class="form-control" id="teamcode"
					       placeholder="Your team's invitation code" required autofocus>
				    </div>
				</div>
			    </div>
			</div>
			<!-- Password -->
			<div class="row">
			    <div class="col-md-3 field-label-responsive">
				<label for="password">Password</label>
			    </div>
			    <div class="col-md-6">
				<div class="form-group">
				    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
					<input type="password" name="password" class="form-control" id="password"
					       placeholder="Password" required autofocus>
				    </div>
				</div>
			    </div>
			    {% if error.password %}
			    <div class="col-md-3">
				<div class="form-control-feedback">
				    <span class="text-danger align-middle">
					<i class="fa fa-close">{{error.password}}</i>
				    </span>
				</div>
			    </div>
			    {% endif %}
			</div>
			<!-- Password (Confirm) -->
			<div class="row">
			    <div class="col-md-3 field-label-responsive">
				<label for="password-confirm">Confirm Password</label>
			    </div>
			    <div class="col-md-6">
				<div class="form-group">
				    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
					<input type="password" name="password-confirm" class="form-control" id="password-confirm"
					       placeholder="Password (Confirmation)" required autofocus>
				    </div>
				</div>
			    </div>
			    {% if error.password %}
			    <div class="col-md-3">
				<div class="form-control-feedback">
				    <span class="text-danger align-middle">
					<i class="fa fa-close">{{error.password}}</i>
				    </span>
				</div>
			    </div>
			    {% endif %}
			</div>
			<!-- Country -->
			<div class="row">
			    <div class="col-md-3 field-label-responsive">
				<label for="country">Country</label>
			    </div>
			    <div class="col-md-6">
				<div class="form-group">
				    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-flag"></i></div>
					<input type="text" name="country" class="form-control" id="country"
					       placeholder="Country" required autofocus>
				    </div>
				</div>
			    </div>
			</div>
		    </form>
		    <br>
		    <div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
			    Already registered? <a href="/login">Click here</a>
			</div>
		    </div>
		</div>
            </div>
            <!-- /#page-content-wrapper -->
	    <div id="btn-toggle">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
		    <i class="fas fa-bars"></i>
		</a>
	    </div>
	</div>
	<!-- Menu Toggle Script -->
	<script>
	 $("#menu-toggle").click(function(e) {
             e.preventDefault();
             $("#wrapper").toggleClass("toggled");
	 });
	</script>
    </body>
</html>
